NODE_NAME=myamf-ltp
AMF_ID=567
AP_HOST_IP=127.0.0.1
AP_HOST_IP_VERSION=4
AP_HOST_IP=
AP_HOST_IP_VERSION=4
AP_HOST_IP=
AP_HOST_IP_VERSION=4
AP_HOST_IP=
AP_HOST_IP_VERSION=4
AP_HOST_PORT=8751
# AP_HOST_IP_COUNT
# DEBUG, CRITICAL, ERROR
LOG_LEVEL=DEBUG
ALLOW_UNKNOWN_CLIENT=1
# ALLOWED_IP
ALLOWED_IP=127.0.0.1
ALLOWED_IP=127.0.0.1
ALLOWED_IP=127.0.0.1
ALLOWED_IP=127.0.0.1
# RAN
RAN_ID=5
RAN_PRIMARY_IP=127.0.0.1
RAN_PRIMARY_PORT=8526
RAN_SECONDARY_IP=127.0.0.1
RAN_SECONDARY_PORT=8526
RAN_ID=6
RAN_PRIMARY_IP=127.0.0.1
RAN_PRIMARY_PORT=1234
RAN_SECONDARY_IP=127.0.0.1
RAN_SECONDARY_PORT=7845
PLMNIdentity=040533
AMF_REGION_ID=AD
AMF_SET_ID=BB
AMF_POINTER=CC
AMF_CAPACITY=75
MM_UE_ID_START_NO=123456789
MM_UE_ID_SESSIONS=100000



